{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <h3 class="text-light">Welcome, <b>{{ name }}</b>!</h3>
    <table id="loaded" class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Name</th>
                <th scope="col">Shares</th>
                <th scope="col">Average Cost</th>
                <th scope="col">Current Price</th>
                <th scope="col">Profit</th>
                <th scope="col">TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for symbol in symbols %}
                <tr class="bg-dark">
                    <td scope="row">{{symbol}}</td>
                    <td>{{details[symbol]['name']}}</td>
                    <td>{{details[symbol]['shares']}}</td>
                    <td>{{details[symbol]['avg_cost'] | usd }}</td>
                    <td>{{details[symbol]['price'] | usd }}</td>
                    <td><font style={{"color:rgb(231,87,87)" if details[symbol]['profit'] < 0 else "color:rgb(121,234,134)"}}>{{ details[symbol]['profit'] | usd }}</font></td>
                    <td>{{details[symbol]['total_cost'] | usd }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>CASH</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ cash | usd }}</td>
            </tr>
            
            <tr>
                <td>TOTAL VALUE</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                {% if value < 0 %}
                <td><font style="color:rgb(231,87,87)">{{ value | usd }}</font></td>
                {% else %}
                <td><font style="color:rgb(121,234,134)">{{ value | usd }}</font></td>
                {% endif %}
                <td>{{ total | usd }}</td>
            </tr>
        </tfoot>
    </table>

    <script>
        $(document).ready(function() {
            $('#loaded').DataTable();
        } );
    </script>
{% endblock %}
